[submodule "external/OpenVR"]
	path = external/OpenVR
	url = https://github.com/ValveSoftware/openvr.git
[submodule "external/boost"]
	path = external/boost
	url = https://github.com/Orphis/boost-cmake.git
